*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-yellow {
  border: 1px solid #b18958 !important;
  background-color: transparent;
  color: #000000;

  &:hover {
    background-color: #b18958;
    color: #ffffff;
    transition: background-color 0.3s linear;
  }
}
.bg-green {
  background-color: transparent;
  color: #000000;
  border: 1px solid darkgreen !important;

  &:hover {
    background-color: darkgreen;
    color: #ffffff;
    transition: background-color 0.3s linear;
  }
}

.rejected {
  background-color: darkred;
}

.approved {
  background-color: green;
}

.pending {
  background-color: #003d69;
}

.bg-red {
  background-color: transparent;
  color: #000000;
  border: 1px solid darkred !important;

  &:hover {
    background-color: darkred;
    color: #ffffff;
    transition: background-color 0.3s linear;
  }
}

.wf-process {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 375px;
  margin: 30px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  &__title {
    background-color: #003d69;
    margin: -10px -10px 10px -10px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
  }
  &__header {
    display: flex;
    flex-direction: column;

    &__comment {
      &__input {
        width: 355px;
        max-width: 355px;
        min-height: 50px;
        padding: 10px;
        font-family: inherit;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #000;
        margin-bottom: 10px;

        &:focus {
          outline: 0;
        }
      }

      &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 10px 0 10px 0;

        &__button {
          padding: 5px 10px;
          border-radius: 3px;
          border: 0;
          text-transform: capitalize;

          &:hover {
            cursor: pointer;
            transform: translateY(-1px);
            box-shadow: 0 2px 0 rgba(0, 0, 0, 1);
          }

          &:active {
            outline: 0;
            transform: translateY(0);
            box-shadow: none;
          }

          &:focus {
            outline: 0;
          }

          &:not(:last-child) {
            margin: 0 5px;
          }
        }
      }
    }

    &__divider {
      content: '';
      width: 200px;
      height: 2px;
      background-color: rgba(0, 0, 0, 0.1);
      align-self: center;
      margin: 20px 0 0 20px;
    }
  }

  &__body {
    margin: 20px 0;
    &__stages {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &__stage {
        background-color: #f5f5f5;
        width: 320px;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: 3px;

        &:not(:last-child) {
          margin-bottom: 30px;

          &::before {
            content: '';
            position: absolute;
            width: 3px;
            height: 120%;
            background-color: #837d7d;
            top: -15px;
            left: 0;
          }
        }

        &__serial {
          position: absolute;
          top: -15px;
          left: -20px;
          background-color: #ffffff;
          padding: 10px 15px;
          border-radius: 1000px;
          border: 4px solid;
        }

        &__status {
          align-self: flex-end;
          margin-bottom: 20px;
          display: flex;

          &__number,
          &__string {
            font-size: 12px;
            padding: 5px;
            color: white;
          }

          &__number {
            background-color: #003d69;
            border-radius: 3px 0 0 3px;
          }

          &__string {
            border-radius: 0 3px 3px 0;
          }
        }

        &__comments {
          padding-left: 10px;

          &__comment {
            display: flex;
            padding: 5px;

            &:not(:last-child) {
              margin-bottom: 5px;
            }

            &__avatar {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              margin-right: 10px;
              border: 3px solid;
            }

            &__item {
              background-color: #ffffff;
              padding: 5px;
              border-radius: 3px;
              width: 100%;

              &__name {
                font-size: 12px;
                color: #003d69;
                margin-bottom: 10px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 300;
              }

              &__comment {
                font-size: 12px;
              }

              &__bottom {
                display: flex;
                margin-top: 10px;
                align-items: center;
                justify-content: space-between;

                p {
                  font-size: 10px;
                }

                &__timestamp {
                  color: #b1b1b1;
                }

                &__status {
                  padding: 2px;
                  color: white;
                  border-radius: 3px;
                  margin: 0 -5px -5px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
